:root {
  --white-color: #fff;
  --black-color: #000;
  --lt-gray    : #d8d8d8;
  --dr-gray    : #979797;
  --lt2-gray   : #9B9B9B;
  --bg-darck   : #181818;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;

}

body {
  margin     : 0;
  font-family: Arial, Helvetica, sans-serif;
  color      : var(--black-color);
}


ul {
  margin : 0;
  padding: 0
}

li {
  list-style: none
}

a {
  text-decoration: none
}

img {
  object-fit: cover;
}

p {
  font-size: 14px;
}

.tib {
  font-style : italic;
  font-weight: bold;
  color      : var(--black-color);
}

.link {
  font-size: 12px;
  color    : var(--lt2-gray);
}

.link.underline {
  text-decoration: underline
}


.bloc1_img {
  height: 500px;
}

.bloc2_img {
  height: 250px;
}

/* ========title======== */
.bg_title {
  font-size  : 32px;
  font-weight: bold
}

.md_title {
  font-size: 18px;

}

.sm_title {
  font-size  : 14px;
  font-weight: bold;
  color      : var(--lt2-gray);
}

/* ===========imports styles========== */
@import url("./header.css");
@import url("./footer.css");
@import url("./pages.css");



@media(max-width:768px) {
  img {
    width: 100%;
  }

  .bloc1_img {
    height: 400px;
  }

  .hidden {
    display: none
  }
}